.logo {
  width: 60px;
  height: 60px;
  background: #4f7cff;
  color: white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  min-height: 100%;
  background: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.login-card {
  width: 600px;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.logo {
  width: 60px;
  height: 60px;
  background: #4f7cff;
  color: white;
  font-size: 28px;
  border-radius: 15px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card h1 {
  text-align: center;
  margin-bottom: 8px;
}

.login-card p {
  text-align: center;
  color: #666;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-size: 14px;
}

input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a {
  text-decoration: none;
  color: #4f7cff;
  font-size: 14px;
}
.forgot-password a:hover {
  text-decoration: underline;
}

button {
  background: #4f7cff;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}
button:hover {
  background: #3d68e6;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

.signup-text {
  margin-top: 20px;
  font-size: 14px;
  background-color: transparent;
  color: #3d68e6;
}
.signup-text:hover{
  text-decoration: underline;
  color: #3d68e6;
  background-color: transparent;
}
input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
  transition: all 0.3s ease;
}

input:hover {
  border-color: #4f7cff;
}

input:focus {
  outline: none;
  border-color: #4f7cff;
  box-shadow: 0 0 0 3px rgba(79, 124, 255, 0.15);
}

