* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inter', sans-serif;
}
.app-layout {
  min-height: 100vh;
}

.main-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-content {
  flex: 1;
  padding: 24px;
  transition: margin-left 0.3s ease;
}

/* DESKTOP */
@media (min-width: 769px) {
  .main-content.sidebar-active {
    margin-left: 250px;
  }
}


 


/* Mobile */
@media (max-width: 768px) {
  .main-content {
    padding: 16px;
    width: 100%;
    display: block;
    margin-left: 0;
  }
   .main-content.sidebar-active {
    margin-left: 0 !important;
  }
}